{% extends 'base.html' %} {% load crispy_forms_tags %} {% block body_block %}
<div>
  {% if messages %} {% for message in messages %}
  <p class="bg-success p-3 text-white">{{message}}</p>
  {% endfor %} {% endif %}
  <h1>{{user}}'s Profile</h1>
  <a
    class="btn btn-warning fw-bold"
    href="{% url 'change_password_with_password' %}"
    >change_password_with_password</a
  >
  <br />
  <br />
  <a
    class="btn btn-primary fw-bold"
    href="{% url 'change_password_without_password' %}"
    >change_password_without_password</a
  >
</div>

{% endblock %}
